.vs/CarCommerce/v17/TestStore/0/000.testlog
.vs/CarCommerce/FileContentIndex/32a82268-b29d-4f1f-895c-534a24181416.vsidx
.vs/CarCommerce/FileContentIndex/4a1aca7c-3449-4d95-9618-b4eda3196536.vsidx
.vs/CarCommerce/FileContentIndex/55a9c660-1e3e-4a50-a2d3-be5cab94f5a7.vsidx
.vs/CarCommerce/FileContentIndex/7b38f0dc-be14-4775-b90e-8e2224fd39c1.vsidx
.vs/CarCommerce/FileContentIndex/aad6c716-bd0a-4b7b-a4e2-444fb0358c89.vsidx
.vs/CarCommerce/FileContentIndex/aff82054-f7cb-478d-b0e9-0ae523ae9972.vsidx
.vs/CarCommerce/FileContentIndex/bf13d3fe-761f-48a5-83a7-0317e6d7f3a8.vsidx
.vs/CarCommerce/FileContentIndex/c8dc627a-dce8-448f-9041-57d22c8aa4fd.vsidx
.vs/CarCommerce/FileContentIndex/d093b2fa-e2ce-4548-9152-9072987d1f63.vsidx
.vs/CarCommerce/FileContentIndex/dee890ce-66d5-4d7c-adc7-77d850c14f38.vsidx
.vs/CarCommerce/v17/TestStore/0/000.testlog
.vs/CarCommerce/v17/TestStore/0/testlog.manifest
Backend/obj/Backend.csproj.nuget.dgspec.json
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Backend.assets.cache
Backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
docker-compose/obj/Docker/CachedComposeConfigFilePaths.cache
docker-compose/obj/Docker/MergedDockerCompose3.cache
docker-compose/obj/Docker/MergedDockerCompose4.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.AssemblyInfo.cs
FrontEnd/obj/Debug/net8.0/FrontEnd.AssemblyInfoInputs.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.assets.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.GeneratedMSBuildEditorConfig.editorconfig
FrontEnd/obj/FrontEnd.csproj.nuget.dgspec.json
FrontEnd/obj/project.assets.json
FrontEnd/obj/project.nuget.cache
.vs/CarCommerce/FileContentIndex/32a82268-b29d-4f1f-895c-534a24181416.vsidx
.vs/CarCommerce/FileContentIndex/4a1aca7c-3449-4d95-9618-b4eda3196536.vsidx
.vs/CarCommerce/FileContentIndex/7b38f0dc-be14-4775-b90e-8e2224fd39c1.vsidx
.vs/CarCommerce/FileContentIndex/aff82054-f7cb-478d-b0e9-0ae523ae9972.vsidx
.vs/CarCommerce/FileContentIndex/d093b2fa-e2ce-4548-9152-9072987d1f63.vsidx
.vs/CarCommerce/v17/TestStore/0/000.testlog
.vs/CarCommerce/v17/TestStore/0/testlog.manifest
Backend/obj/Backend.csproj.nuget.dgspec.json
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Backend.assets.cache
Backend/obj/Debug/net8.0/Backend.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
docker-compose/obj/Docker/backend/AbsoluteOutputAssemblyPath.cache
docker-compose/obj/Docker/backend/BuildContextPath.cache
docker-compose/obj/Docker/CachedComposeConfigFilePaths.cache
docker-compose/obj/Docker/docker-compose.vs.debug.g.yml
docker-compose/obj/Docker/frontend/AbsoluteOutputAssemblyPath.cache
docker-compose/obj/Docker/frontend/BuildContextPath.cache
docker-compose/obj/Docker/HashOfDockerArtifacts.cache
docker-compose/obj/Docker/MergedDockerCompose5.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.AssemblyInfo.cs
FrontEnd/obj/Debug/net8.0/FrontEnd.AssemblyInfoInputs.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.assets.cache
FrontEnd/obj/Debug/net8.0/FrontEnd.GeneratedMSBuildEditorConfig.editorconfig
FrontEnd/obj/FrontEnd.csproj.nuget.dgspec.json
FrontEnd/obj/project.assets.json
FrontEnd/obj/project.nuget.cache
/FrontEnd/obj
/docker-compose/obj
/Backend/obj
/.vs
